body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

header {
    background-color: #FF0080;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

main {
    padding: 20px;
}

h1 {
    text-align: center;
    color: #FF0080;
}

section {
    margin-bottom: 30px;
}

h2 {
    font-size: 20px;
    color: #FF0080;
}

p {
    font-size: 16px;
}

footer {
    background-color: #FF0080;
    padding:10px;
    text-align: center;
    color: #fff;
}